* {
    box-sizing: border-box;
}

html {
    margin: 0;
    min-height: 100%;
}


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #05171E;
}

@font-face {
    font-family: figtree;
    src: url("./assets/fonts/Figtree/Figtree-VariableFont_wght.ttf");
}

header {
    width: 100%;
    background-color: #09212A;
    padding: 20px 140px 20px 241px;
}

.fotogram_logo {
    width: 216px;
    height: 41px;
}

footer {
    width: 100%;
    min-height: 128px;
    background-color: #09212A;
    font-family: figtree;
    font-size: 14px;
    color: #99ACB3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 25% 25% 0 0;
}

.dev_logo {
    width: 134px;
    height: 32px;
}

.gallery {
    max-width: 1170px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
}

#picture_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 32px;
}

.single_picture {
    min-width: 150px;
    min-height: 150px;
    border: 2px solid #124658;
    border-radius: 16px;
    object-fit: cover;
}

h1 {
    font-size: 56px;
    color: #FFFFFF;
    font-family: Figtree;
    font-weight: 800;
    font-style: ExtraBold;
    text-align: center;
    margin: 0px;

}

button {
    cursor: pointer;
    border: none;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: transparent;
}

/* DIALOG */
h2  {
    color: white;
    font-family: figtree;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    margin: 0;
    align-self: center;
}

p {
    width: 29px;
    height: 16px;
    font-family: figtree;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    text-align: center;
    color: #F5F5F5;
}

#full_resolution_show_box {
    background-color: #09212A;
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 688px;
    max-height: 675px;
    border-radius: 40px;
    padding: 56px 64px;
    border: none;
    gap: 48px;
}

.full_res_header {
    display: flex;
    width: 560px;
    height: 32px;
    justify-content: space-between;
}

.picture_title {
    width: 229px;
    height: 29px;  
}

#close_button {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    padding: 4px;
    gap: 10px;
}

.single_full_res_img {
    width: 560px;
    height: 375px;
    object-fit: contain;
}

.full_res_nav {
    display: flex;
    width: 261px;
    height: 60px;
    gap: 56px;
    
}

.nav_arrows {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.nav_button_left {
    transform: rotate(180deg);
}